body {
  background-color: #fff;
  margin: 0;
}

.hidden {
  display: none;
}

.flex-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: 100vh;
}

.flex-container .padding {
  flex: 1;
}

.flex-container .main {
  font-size: 36px;
}

.flex-container footer {
  padding-bottom: 2em;
}

.btn-primary {
  background-color: rgb(204, 11, 22);
  border-color: rgb(234, 41, 52);
  color: rgb(243, 222, 153);
}

.btn-primary:hover {
  background-color: rgb(214, 21, 32);
  border-color: rgb(244, 51, 62);
  color: rgb(243, 222, 153);
}

a {
  color: rgb(204, 11, 22);
}

#start, #yes, #no {
  text-align: center;
}
